<!DOCTYPE html>
<html lang="en">
    {% load static %}
    
    <head>
        <title>Presentation</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="all" href="{% static 'presentation/themes/ribbon/styles/styles.css' %}">
        <style>
            .shower {
                --slide-ratio: calc(16 / 9);
            }
        </style>
    </head>

    <body class="shower list">

        <!-- Title : -->
        <header class="caption">
            <h1>Notre TIPE - Présentation</h1>
            <p>H.Cambra, L.Draescher, T.Olivier, A.Soulier</p>
            <p>Back to <a href="{% url 'home' %}">home</a></p>
        </header>

        <!-- Database slides : (inserts index.html which calls slides.html) -->
        {% block content %}{% endblock %}

        <div class="progress"></div>

        <script src="{% static 'presentation/shower.min.js' %}"></script>
        <!-- Copyright © 3000 Yours Truly, Famous Inc. -->

    </body>

</html>
