.wrapper {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-radius: 25px;
    border-color: white;
    font-size: x-large;
    box-shadow: 0px 5px 8px 0px gray;
    margin-top: 25px;
    background-color: white;
}

html {
    background-color: rgb(42, 42, 42);
}

a:hover {
    font-style: italic;
}

a:link{
    color: black;
    text-decoration: underline;
}

a:visited{
    color: black;
    text-decoration: underline;
}
